@import "src/scss/main";

.header {
  width: 100%;
  // max-height: 300px;
  min-height: 200px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  &content,
  .content {
    width: 100%;
    max-height:160px ;
    height: auto;
    min-height: 140px;

    h1 {
      font-size: 2.5rem;
      font-weight: 700;
      color: darkred;
      text-align: center;
      margin: 0;
      text-transform: uppercase;
    }
  }

  .tabsbar {
    width: 100%;
    max-height: 60px;
    height: 60px;
    min-height: 40px;
    background-color: darkred;
  }
}
